.location {
    &>div {
        display: flex;
        justify-content: center;
        padding: 3rem 0;

        &>address {
            padding: 2rem 3rem;

            a {
                font-weight: bold;
                color: #986df3;
            }
        }

        .marker {
            display: flex;
            justify-content: center;
            padding: .3rem;
            border-radius: 5px;
            background-color: rgb(159, 22, 22);
            width: 75px;
            font-weight: bold;
            text-shadow: 1px 1px rgba(black, .3);
            position: relative;
            font-size: 13px;

            /* chestia asta e mereu pentru (un fel de element fals in html,creat de css menit sa fie in mare parte text*/
            /* am pus "" la content pentru ca l folosim pe post de bloc pentru a crea un triunghi*/
            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #b21c1c;
                bottom: -4px;
                left: 3px;
            }
        }
    }
}